dist/Secure7NetGuard_Linux filter=lfs diff=lfs merge=lfs -text
dist/Secure7NetGuard_Linux_1.01_Offline.tar.gz filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.13/site-packages/PyQt5/Qt5/lib/libicudata.so.56 filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.13/site-packages/cryptography/hazmat/bindings/_rust.abi3.so filter=lfs diff=lfs merge=lfs -text
build/Secure7NetGuard_Linux/Secure7NetGuard_Linux.pkg filter=lfs diff=lfs merge=lfs -text
