# Project name: Secure7NetGuard_1.01_Offline ;
# Author: Nelsomar Barros ;
# Github: https://github.com/SecureLogic7/Secure7NetGuard ;
# Contact: nelsom.one8@gmail.com .

# Arquivos Sensíveis / Configurações Locais
.env
*.sqlite

# Ambientes Virtuais
venv/
env/

# Artefatos de Build e Cache
build/
dist/
__pycache__/
*.pyc
*.o
*.so
.pytest_cache/

# Logs e Temporários
*.log
temporarios/
